p{
	color: red;
}

nav{
	margin-right: auto;
	margin-left: auto;

	
	padding: 10px 10px 10px 10px;
	background-color: black;
}

.wrapper{
	margin: 0 auto;

	width: 95%;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}	

.signup-form{
	margin: auto;
	width: 200px;
	left: 0;
	bottom: 0;
}
.signup-form-form{
	text-align: center;
	display: inline-block;
}

input{
	margin: 3px 0px 3px 0px;
}

button{
	margin: 10px 0px 10px 0px;
	width: 100%;
	padding: 3px 0px 3px 0px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	background-color: green;
}







