nav{
	margin-right: auto;
	margin-left: auto;

	//max-width: 960px;
	
	padding: 10px 10px 10px 10px;
	background-color: black;
}

.wrapper{
	margin-right: auto;
	margin-left: auto;

	max-width: 960px;
}	

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}	
